-var name_1 = 'Ирина';
-var name_2 = 'Ирины';
-var name_and_surname_1 = 'Ирина Березовская';
-var name_and_surname_2 = 'Ирины Березовской';
-var img = 'img/berezovskaya.i.jpg';
-var skills = ['Тета-Хилер,', 'Коуч-нумеролог,', 'Биоэнергетик,', 'Кармический целитель,','Коуч-регрессолог,', 'Вьюер,', 'Специалист по РОДовой карме', 'Дистанционный целитель,', 'Корректолог судьбы,', 'Практикующий маг'];
-var reqs = ['целительство: физическое, духовное, энергетическое,', 'финансовые, семейные, РОДовые, кармические отношения,', 'совместимость,', 'бизнес,','потеря бизнеса,',  '"затык" в личной жизни,' ,'стопор в бизнесе,' ,'поиск себя после трудного развода,', 'кризис среднего возраста,', 'поиск собственного предназначения,' ,'детско-родительские,', 'кармические программы рода, в т.ч. зависимости'];
-var bpps = ['Путь в эзотерику начался после второй клинической смерти. Появились вопросы, на которые я стала искать ответы. В эзотерике есть такое правило: готов ученик - придет Учитель. Точно так случилось и со мной. Какое это счастье, когда получаешь ответы, когда приходит понимание истин, когда есть осознание. После проработки  собственных ситуаций пришли новые знания для помощи другим людям.  Я стала постоянно пополнять свои знания, совершенствовать мастерство и повышать квалификацию. Мой общий стаж в эзотерике 20 лет. Около 3000 клиентских практик.  Главная задача эзотерика - помочь как можно большему количеству людей. И я выполняю эту задачу'];
<!DOCTYPE html>
html(lang="ru")
	include ../templates/header
	body#specialist
		include ../templates/main
		include ../templates/skills_min
		include ../templates/reqs_min
		include ../templates/biography
		include ../templates/footer
		include ../templates/mail_form
		include ../templates/polit