-var name_1 = 'Анна';
-var name_2 = 'Анны';
-var name_and_surname_1 = 'Анна Чупира';
-var name_and_surname_2 = 'Анны Чупира';
-var img = 'img/chupira.a.png';
-var skills = ['таролог;', 'прошла курсы школы Таро "Скрижали Мудрости" в  2013;', 'курс Дистанционного Видения Александра Кудряшова в 2016;', 'сейчас учусь в школе слиперов Ирины Белозерской'];
-var reqs = ['прогнозы на текущую ситуацию и ее будущее развитие,', 'отношения (разбираю причины, работаю с последствиями, налаживание отношений),', 'здоровье (почему так произошло, что повлияло, что можно сделать, чтобы наладилось здоровье),', 'бизнес (как быть, стоит делать или нет, партнерство),', 'деньги (почему нет, причины, как сделать так, чтобы было),', 'дети (почему нет детей, что сделат, чтобы были, проблемы с детьми, налаживание диалога между родителями и детьми)'];
-var bpps = ['Занимаюсь эзотерикой более 15 лет. Практикую карты Таро более 10 лет. В каждом случае люблю докапываться до причины, а не просто устранять следствия. При работе с человеком сразу произвожу быструю чистку состояния человека, вывод его из минусовых состояний с помощью техники Альфа ( авторский метод И. Белозерской, которому обучают в школе слиперов)'];
<!DOCTYPE html>
html(lang="ru")
	include ../templates/header
	body#specialist
		include ../templates/main
		include ../templates/skills
			.col-md-3.col-sm-3.col-md-offset-3.col-sm-offset-3
				a(href="img/cert_1.jpg" data-fancybox="certs")
					img.lazy.cert_img(data-src="img/cert_1_min.jpg", alt="Сертификат")
			.col-md-3.col-sm-3
				a(href="img/cert_2.jpg" data-fancybox="certs")
					img.lazy.cert_img(data-src="img/cert_2_min.jpg", alt="Сертификат")
		include ../templates/reqs_min
		include ../templates/biography
		include ../templates/footer
		include ../templates/mail_form
		include ../templates/polit