-var name_1 = 'Оксана';
-var name_2 = 'Оксаны';
-var name_and_surname_1 = 'Оксана Довбыш';
-var name_and_surname_2 = 'Оксаны Довбыш';
-var img = 'img/dovbysh.o.png';
-var skills = ['Проходила обучение нумерология Психоматрица Пифагора у Мары Борониной и Дорис Мендоса,', 'Тренинг по коучиннгу у Николая Латанского,', 'Таро в Русской шлоле Таро у Сергея Савченко,', 'МАК психосоматика у Жанны Абрамовой,', 'Учусь на расстановках,','Есть посвещение в энергии Краниосакральная эфирная терапия'];
-var reqs = ['Любые темы по отношениям,', 'Созависимые отношения,', 'Отношения с родителями,', 'Обиды на родителей и других людей,', 'Работа с эмоциями,', 'Психосоматика заболеваний,', 'Бесплодие,', 'Нахожу причины и ресурсы для реализации целей,', 'Работа с целями'];
-var bpps = ['Родилась 22.06.1971г в Крыму. Школа, Институт по специальности бухучет и аудит. 20 лет была замужем (муж алкоголик). Так что есть личный опыт созависимых отношений. Сама искала ответы на свои вопросы. Изучила Нумерологию, Таро. Прошла обучение у Жанны Абрамовой крс по МАК-психосоматика. Начала практиковать. В городе Бердянске Украина, где живу, провожу практические мастер-классы по МАК картам. Продолжаю обучение на курсе по растановкам.'];
<!DOCTYPE html>
html(lang="ru")
    include ../templates/header
    body#specialist
        include ../templates/main
        include ../templates/skills
        include ../templates/reqs_min
        include ../templates/biography
        include ../templates/footer
        include ../templates/mail_form
        include ../templates/polit