-var name_1 = 'Лауфер';
-var name_2 = 'Лауфер';
-var name_and_surname_1 = 'Лайфер Элишева';
-var name_and_surname_2 = 'Лауфер Элишевой';
-var img = 'img/elisheva.l.jpg';
-var skills = ['педагог-психолог,', 'коуч,', 'сказкотерапевт,', 'МАК специалист'];
-var reqs = ['лишний вес, особенно при наличии гормонального сбоя или большого количества попыток, когда женщина опустила руки','состояние апатии, упадка сил, низкого уровня энергии,','достижение целей, снятие сопротивления и самосаботажа, проверка цели на жизнеспособность, докрутка самой цели'];
-var bpps = ['Меня зовут Элишева и я практик врачевания синдрома "у меня не получается" и "я не могу".', 'Поскольку сейчас модно называть себя психологом и коучем, а я не люблю идти за толпой, то не стану произносить эти забитые слова, просто расскажу о том, кто я и чем занимаюсь.','Я жена и мама пятерых детей, мне 40 лет. И я занимаюсь очень благодарным делом, которое обожаю, а именно - возвращаю женщинам стройность, энергию и позитивный взгляд на мир.','20 лет назад я очень сильно поправилась и находилась в устойчиво плохом настроении, жизнь не клеилась, ничего не получалось, вес зашкаливал... ', '"Почему-то" никто не спешил протянуть мне руку помощи...','Окружающие только отдалялись и не хотели со мной общаться. Ну кому хочется общаться с 20-и летней ворчушкой, которая недовольна всем и вся.','Прошло 10 лет, я получила второе высшее образование, устроилась на хорошо оплачиваемую работу, вышла замуж... Но всё равно оставалась недовольна своей жизнью...','И вот, около 5 лет назад, "хватанув" аутоимунное заболевание щитовидки и ещё кучу проблем со здоровьем, я вспомнила о своём первом образовании, которое было получено скорее для мамы, хоть и с отличием. Пошла на разные продвинутые курсы повышения квалификации. И занялась вытаскиванием себя из печальной серости или серой печальности, думаю оба варианта отражают мою действительность на тот момент.', 'На сегодняшний день я не только решила огромную часть своих проблем, но и помогаю окружающим меня женщинам решать подобные.','Да, и сейчас у меня бывают дни, когда ничего не хочется делать, но я знаю как замотивировать себя без насилия. Я смотрю на жизнь с предвкушением чего-то хорошего. Мой вес постепенно стабилизируется, после многих лет неравной борьбы (как выяснилось, бороться и не было нужды, нужно было решать проблему конструктивно и, конечно не диетами и убийственным количеством спорта). Проблемы со здоровьем постепенно меня покидают и многие из них уже не существуют. Я планирую и следую плану, потому-что больше нет самосаботажа, а это секрет успеха.', 'Мои клиентки получают такие же результаты, потому-что наведя порядок в голове, мы наводим порядок в жизни, в здоровье, в карьере, в отношениях и.т.д.', 'На мой взгляд, человек должен быть профессионалом своего дела, а дипломы - дело десятое, и всё же... Чтобы дать вам уверенность в том, что я знаю что делаю опишу своё образование: по первому образованию я педагог-психолог, по второму - программист. Как психолог закончила большое количество курсов повышения квалификации, среди них "сказкотерапия", "метафорические карты" и много ещё всяких профессиональных штук. Ну и, конечно школа коучинга, без неё никуда.'];
<!DOCTYPE html>
html(lang="ru")
	include ../templates/header
	body#specialist
		include ../templates/main
		include ../templates/skills
		include ../templates/reqs_min
		include ../templates/biography
		include ../templates/footer
		include ../templates/mail_form
		include ../templates/polit