-var name_1 = 'Зульфия';
-var name_2 = 'Зульфии';
-var name_and_surname_1 = 'Зульфия Фаттахова';
-var name_and_surname_2 = 'Зульфии Фаттаховой';
-var img = 'img/fattakhova.z.png';
-var skills = ['Практический психолог Московский государственный университет технологии и управления,', 'Сертификат НЛП в работе психолога,', 'Сертификат Индивидуальное консультирование(интегративный подход)', 'Сертификат Системная Семейная терапия,', 'Сертификат Детская практическая психология(интегративный подход),' , 'Сертификат Базовый курс по телесно-ориентированной терапии,','Сертификат МАК в психологическом консультировании,', 'Сертификат Когнитивное психологическое консультирование и когнитивная психотерапия'];
-var reqs = ['личностный рост,','семейные проблемы,','супружеские отношения,','детско-родительские отношения;отношения,','деньги,','предназначение'];
-var bpps = ['Педагог - мечта детства. Поняла, что в школе все не так как я представляла. Всегда интересовалась психологией: в детстве несправедливость переживала.почему родители ругаются, взрослые нечуткие и т. д. Психологом стала осознанно в зрелам возрасте, занялась развивающими программами для детей и взрослых(память,скорочтение). Провожу консультации родителям по детско-родительским отношениям,супружеским, индивидуальное консультирование. Практика около 15 лет. Замужем, сын, сноха, внучки.'];
<!DOCTYPE html>
html(lang="ru")
	include ../templates/header
	body#specialist
		include ../templates/main
		include ../templates/skills_min
		include ../templates/reqs_min
		include ../templates/biography
		include ../templates/footer
		include ../templates/mail_form
		include ../templates/polit