-var name_1 = 'Тамара';
-var name_2 = 'Тамары';
-var name_and_surname_1 = 'Тамара Фирсова';
-var name_and_surname_2 = 'Тамары Фирсовой';
-var img = 'img/firsova.t.png';
-var skills = ['Школа эзотерической психологии ВЕДЫ. Сертификат,' , 'Основы психологического консультирования,', 'Основы энергоинформационного консультирования и целительства,', 'Теория и практика в области Таро-консультирования. Преподаватель А Пляс,', 'Обучение по программе "Астропсихология. Формула Души". Преподаватель Бронзская Б.В.,', 'Всероссийский образовательный центр "Академия Времени" базовый курс по астрологии, нумерологии и межличностной психологии. Преподаватель Шмульский А.В.,','Академия Master Vision " МАК-терапия" в психологической практике. Преподаватель Жанна Абрамова'];
-var reqs = ['Предназначение,', 'Выявление талантов и способностей и помощь в их раскрытии,', 'Профориентация, помогаю подобрать учебное заведение, работу, бизнес,','Помогаю наладить отношения с близкими людьми (детьми, родителями, партнером),','Объясняю совместимость с партнером (в личных отношениях и в бизнесе) и помогаю лучше понять себя и партнера,','Помогаю разобраться в причинах заболеваний и освободиться от них,','Помогаю подобрать наиболее благоприятное время для открытия бизнеса, удачных покупок, удачного вложения в недвижимость'];
-var bpps = ['Добрый день, дорогие друзья!','Давайте знакомиться! Меня зовут Тамара Фирсова.','15 лет я работала в медицине: фельдшером, медсестрой хирургического и неврологического отделения. Я видела много боли, страданий и искала причины возникновения проблем у человека.', 'В 2011г. я жила в провинциальном городе, зарплата маленькая была, сыну надо было поступать в институт. Тогда я поехала в Москву работать и стала искать возможности самой учиться.', 'В Москве познакомилась с тренингом «Правополушарное рисование», работала администратором в Школе Креатива г. Москва и проходила обучение проведению тренингов. Через полгода с партнером создала в г. Москва Школу творческого развития личности, а потом в родном городе Старый Оскол руководила Студией Креатива. Более 2000 человек от 5 до 75лет прошли мои тренинги и мастер-классы. Практически все начали рисовать, многие участвуют в выставках и занимают призовые места. У взрослых людей исполнилась мечта детства, у пенсионеров улучшилась память, восстановилась моторика пальцев рук. Есть 3 случая восстановления речи после инсульта. Воспитатели в детских садах применяют мою методику для обучения детей рисованию. Более 10 моих учениц стали сами тренерами и открыли свои студии. Многие продают свои картины. ', 'Так же меня привлекала психология и эзотерика. Я прошла обучение и стала сертифицированным специалистом в области Таро-консультирование, астропсихология (Формула Души), нумерология, МАК-терапия.','И теперь я могу точно сказать, что боли и страданий можно избежать, если заниматься любимым интересным делом, принимать и любить себя таким, какой есть, быть все время увлеченным чем-то новым, слушать свой внутренний голос и следовать за своей мечтой!'];
-var certs = [{href: 'img/cert_1.jpg', src: 'img/cert_1_min.jpg'},{href: 'img/cert_2.jpg', src: 'img/cert_2_min.jpg'},{href: 'img/cert_3.jpg', src: 'img/cert_3_min.jpg'},{href: 'img/cert_4.jpg', src: 'img/cert_4_min.jpg'},{href: 'img/cert_5.jpg', src: 'img/cert_5_min.jpg'}, {href: 'img/cert_6.jpg', src: 'img/cert_6_min.jpg'}];
<!DOCTYPE html>
html(lang="ru")
	include ../templates/header
	body#specialist
		include ../templates/main
		include ../templates/skills
		include ../templates/reqs_min
		include ../templates/biography
		include ../templates/footer
		include ../templates/mail_form
		include ../templates/polit