-var name_1 = 'Наталья';
-var name_2 = 'Натальи';
-var name_and_surname_1 = 'Наталья Фёдорова';
-var name_and_surname_2 = 'Натальи Фёдоровой';
-var img = 'img/fyodorova.n.png';
-var skills = ['Психолог,',  'МАК - терапевт,', 'Киевский Национальный Педагогический Университет им. М.П.Драгоманова'];
-var reqs = ['Предназначение'];
-var bpps = ['Практикующий психолог, МАК - терапевт (специалист по Метафорическим Ассоциативным Картам). У вас проблемы в личной жизни,  с детьми или со здоровьем? и я спрошу - а чем ви занимаетесь? Вас не устраивает деятельность, которой ви занимаетесь? и я спрошу - а чем ви занимаетесь? Вас не устраивает сумма денег в кошельке? и я опять спрошу - а чем ви занимаетесь? Я помогаю людям открывать дверь в свой мир - мир любви, счастья, богатства и успеха. И дорога жизни наполняется разноцветными красками.'];
<!DOCTYPE html>
html(lang="ru")
	include ../templates/header
	body#specialist
		include ../templates/main
		include ../templates/skills
		include ../templates/reqs_min
		include ../templates/biography
		include ../templates/footer
		include ../templates/mail_form
		include ../templates/polit