-var name_1 = 'Юлия';
-var name_2 = 'Юлии';
-var name_and_surname_1 = 'Юлия Габерштейн';
-var name_and_surname_2 = 'Юлии Габерштейн';
-var img = 'img/gabershtein.y.png';
-var skills = ['Дипломированный психолог,',  'Коуч,', 'Педагог,', 'Международный специалист в области консультирования,',  'Специалист по МАК и межличностным отношениям,', 'Международный специалист по системным расстановкам по Б. Хеллингеру'];
-var reqs = ['Поиск внутренних ресурсов,', 'Экзистенциальный кризис,',  'Все виды зависимостей,',  'Трудности выбора,',  'Личностный рост,',  'Осознание собственного предназначения,',  'Финансовые трудности,',  'Детско-родительские отношения,',  'Отношения в паре,',  'Взаимодействие с внешним миром,',  'Психосоматика,', ' Способность опираться на себя,',  'Вопросы доверия' ];
-var bpps = ['Родилась в Казахстане, г. Алматы. Там же получила первые высшие образования 1. Экономист и 2. Детский Психолог.  В 2001 году переехала  на. ПМЖ в Германию . Замужем, имею троих детей. В Германии переучилась на воспитателя детского сада. Позже получила диплом Психолога. Имею опыт ведения собственного бизнеса и частного консультирования. Основатель "Русской школы " и " Русского женского клуба" в Германии'];
<!DOCTYPE html>
html(lang="ru")
	include ../templates/header
	body#specialist
		include ../templates/main
		include ../templates/skills_min
		include ../templates/reqs_min
		include ../templates/biography
		include ../templates/footer
		include ../templates/mail_form
		include ../templates/polit