-var name_1 = 'Галина';
-var name_2 = 'Галины';
-var name_and_surname_1 = 'Галина Голяш';
-var name_and_surname_2 = 'Галины Голяш';
-var img = 'img/golyash.g.jpg';
-var skills = ['психолог (красный диплом)', 'два сертификата по метафорическим картам' ];
-var reqs = ['психосоматика,', 'психологические травмы,', 'детские страхи'];
-var bpps = ['Меня зовут Голяш Галина. У меня в центре формулы Души находится Нептун, а это планета, которая толкает человека к познанию всего необычного и необъяснимого , с точки зрения обывателя. В 21 год судьба столкнула меня с черным магом, и я вышла за него замуж. Потом он со своей теткой приговорили меня к смерти. Но вселенная повернулась таким образом, что в моем пространстве стали появляться люди, которые сняли с меня смертельную порчу. Таким образом Вселенная показала, что есть зло и добро. И дальше я стала развиваться целенаправленно. В 2005 году я с красным дипломом окончила факультет психологии Московского открытого социального университета, по специальности психолог, преподаватель психологии. Начала потихоньку помогать друзьям и подругам. Но официальная психология не всегда дает быстрый результат. И тогда я пошла учиться к В.Татаринову, К. Довлатову, Ж.Абрамовой, Р.Крашенинниковой, О. Веда, Н.Степановой. Попутно изучала все, что могла найти в открытом доступе. Сейчас работаю успешно с очень многими проблемами, с отношениями, с психосоматикой, с психологическими травмами. с детскими страхами, с лишним весом, с подростками. Беру людей в коучинг по лишнему весу и по восстановлению отношений.. Я готова сделать все возможное, чтобы вам помочь!'];
<!DOCTYPE html>
html(lang="ru")
    include ../templates/header
    body#specialist
        include ../templates/main
        include ../templates/skills_min
        include ../templates/reqs_min
        include ../templates/biography
        include ../templates/footer
        include ../templates/mail_form
        include ../templates/polit