-var name_1 = 'Степан';
-var name_2 = 'Степана';
-var name_and_surname_1 = 'Степан Иванов';
-var name_and_surname_2 = 'Степана Иванова';
-var img = 'img/ivanov.s.jpg';
-var skills = ['Вьюер,', 'дистанционное видение в медицине,', 'целитель'];
-var reqs = ['Решение проблем со здоровьем на физическом и ментальном планах абсолютно во всех направлениях самым экологичным и безопасным методом дистанционного воздействия. Как по существующим диагнозам, так и просто по симптомам,', 'Исцеление отдельных органов, а так же общее укрепление и оздоровление всего организма в целом',  'Энергетическая очистка помещений'];
-var bpps = ['В рамках академии Мастер Вижн окончил курсы: Ассоциативное Дистанционное Видение, Координатное Дистанционное Видение, Дистанционное Видение в медицине (преподаватель Александр Кудряшов) Открытие третьего глаза, Чакрам, Целительство (преподаватель Василий Попов). Активный участник метдпрактикума по методу Дистанционного Видения. Стаж целительства более трёх лет. За это время полностью исцелился сам, и оказал помощь сотням пациентов, включая домашних животных.'];
<!DOCTYPE html>
html(lang="ru")
	include ../templates/header
	body#specialist
		include ../templates/main
		include ../templates/skills
		include ../templates/reqs_min
		include ../templates/biography
		include ../templates/footer
		include ../templates/mail_form
		include ../templates/polit