-var name_1 = 'Елена';
-var name_2 = 'Елены';
-var name_and_surname_1 = 'Елена Кравцова';
-var name_and_surname_2 = 'Елены Викторовны Кравцовой';
-var img = 'img/avatar.jpg';
-var skills = ['Международная академия бизнеса Практическая психология: консультировани и коучинг Школа коучинга К. Довлатова,','Мастерский курс "Метафорические ассоциативные карты Константина Довлатова",','Курс Ж. Абрамовой на платформе Мастер-Вижен "МАК-терапия в психологической практике",','Духовная Интеграционика К. Довлатова,','Ассоциация глубинной психологии "Теурунг" семинар-практикум "Формула любви",','Ассоциация глубинной психологии "Теурунг" семинар-практикум "Судьбоанализ. Изменение родовых жизненых сценариев",','Занятия Арт-терапией и Игропрактиками на базе Восточно-украинской ассоциации арт-терапии'];
-var reqs = ['Отношения в паре, семье, родителько-детские,','Отпускание утраты - близкого человека, умершего,','Выбор - принятие решения,','Работа с целями - препятствия, ВВ, убеждения, страхи,','Работа с родом, восстановление потока любви,','Сепарация'];
-var bpps = ['Меня зовут Елена Кравцова.', 'Некоторое время назад моя жизнь сделала крутой поворот.', 'В данный момент я коуч, консультант- психолог. Помогаю женщинам улучшать свою жизнь, решать сложные задачи, которые они решают в своей жизни. А еще совсем недавно, несколько лет назад, у меня с мужем был собственный семейный бизнес. Бизнес остался и работает, муж взял все руководство на себя. А я смогла заняться тем, к чему меня по жизни вела Судьба.', 'Начну с самого начала. Я родилась в обычной советской семье. Обычная семья, любящие родители, хорошие отношения между всеми членами семьи. Я росла ребенком того времени. Как и полагалось по тем временам: родилась- сад-школа- институт- замужество- собственная семья.', 'Единственное что меня отличало от своих сверстников так это не по годам философское отношение к жизни и острое чувство справедливости. Вопросы, которые я задавала взрослым иногда их ставили в тупик. Вот этот внутренний зов исследователя жизни, желание разобраться и понять все о взаимосвязях во Вселенной, ее законы и правила двигал мной по жизни.', 'Переломный момент произошел более десяти лет назад. Я стала более глубоко изучать эзотерическую, духовную, психологическую литературу. Начала посещать семинары, фестивали и клубные занятия.', 'В своих поисках я не останавливалась. И это закончилось тем, что мое увлечение переросло в профессию. Оставив семейный бизнес и получив второе психологическое образование я стала помогать другим людям. Знания, жизненный опыт усиливаются духовными практиками, которыми я овладела обучаясь у своих учителей.', 'В настоящее время объединяя весь спектр своих знаний я и мои клиенты работаем на уровне Души.'];
<!DOCTYPE html>
html(lang="ru")
    include ../templates/header
    body#specialist
        include ../templates/main
        include ../templates/skills_min
        include ../templates/reqs_min
        include ../templates/biography
        include ../templates/footer
        include ../templates/mail_form
        include ../templates/polit