-var name_1 = 'Елена';
-var name_2 = 'Елены';
-var name_and_surname_1 = 'Елена Кравцова';
-var name_and_surname_2 = 'Елены Григориевны Кравцовой';
-var img = 'img/kravtsova.e.jpg';
-var skills = ['Целительство контактное и дистанционное,', 'Массаж,','Сертификат по дистанционному виденеию,', 'Сертификат по медицине в дистанционном видении на платформе Master Vision,', 'Сертификат экспрес-курс по старшим арканам таро Русская школа таро,','Курс Ольги Веда Основам Магии Уникальная чистка денежных каналов'];
-var reqs = ['Здоровье,',  'Заряжаю воду'];
-var bpps = ['О своих способностях я поняла еще в начальных классах школы, но тогда это все было на подсознательном уровне. После школы окончила учётно-экономический факультет по специальности бухгалтер - экономист, т. е. специальность весьма далёкая от медицины и целительства. Но вот лет в 25 в книжном магазине как-то купила книги Г. Малахова по самоисцелению, книги Натальи Степановой, и много еще что было мною просто проглочено :). Меня заинтересовала тема исцеления, я начала использовать свои знания на практике. После я познакомилась с человеком, который занимался и занимается целительством, многому научилась у неё, какой-то период была практика контактного исцеления, это массажи контактные и бесконтактные, научилась заряжать воду, отливать на воск, освоила очищение свечой. Когда родились детки, с практикой пришлось прекратить. А сейчас вот дети уже выросли. И я решила возобновить практику заново, и поняла, что не хватает уже современных знаний, и Академия Master Vision оказалась идеальным для меня вариантом для получения этих знаний. Очень помог в этом курс Дистанционного Видения у А. Кудряшова. Сейчас я уже использую полученные знания в своей практике.'];
<!DOCTYPE html>
html(lang="ru")
    include ../templates/header
    body#specialist
        include ../templates/main
        include ../templates/skills_min
        include ../templates/reqs_min
        include ../templates/biography
        include ../templates/footer
        include ../templates/mail_form
        include ../templates/polit