-var name_1 = 'Наталья';
-var name_2 = 'Натальи';
-var name_and_surname_1 = 'Натальа Пара';
-var name_and_surname_2 = 'Натальи Пара';
-var img = 'img/para.n.jpg';
-var skills = ['Самородок,', 'Способности целительству по женской линии Рода,', 'Дар пророчества с рождения,', 'Яснознание,', 'Ясночувствование,', 'Менталист,', 'Целитель,', 'Медиум,', 'Дистанционное Видение в Академии МаsterVision,', 'Медицина в ДВ'];
-var reqs = ['Любыми запросы клиентов, не противоречащих Законам космоса'];
-var bpps = ['Еще в детстве с интересом наблюдала, как моя бабушка заговаривала разные болячки. Целительством занималась по необходимости, жила как все. Дом, семья, работа. А потом случилось невероятное. В кабинете стоматолога пожилая женщина наговорила всяких небылиц про меня. Мол, необычная я, и скоро буду "видеть". А через несколько дней мир обрушился на меня новыми цветами, запахами и звуками, Знание, кто что чувствует, кто чем болеет и как ему поправиться... По совету знакомого просветленного стала много читать, изучать проверять, применяя на практике. Прошло больше 10 лет. С моей помощью женщины радуются изменениям в личной и семейной жизни, рождению долгожданных малышей. Увеличивается благосостояние моих клиентов: переезжают в новые квартиры, приобретают иномарки и недвижимость, успешно начинают и развивают собственный бизнес. Я тоже радуюсь достижениям моих клиентов, ведь это и мой успех!'];
<!DOCTYPE html>
html(lang="ru")
	include ../templates/header
	body#specialist
		include ../templates/main
		include ../templates/skills
		include ../templates/reqs_min
		include ../templates/biography
		include ../templates/footer
		include ../templates/mail_form
		include ../templates/polit