<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="author" content="Master Vision")
		meta(name="description" content="Консультант MasterVision: Татьяна Рожкова")
		meta(property="og:image" content="http://mastervisioncons.ru/img/banner.jpg")
		title Консультант MasterVision: Татьяна Рожкова
		link(rel="icon" type="image/x-icon" href="../favicon.ico")
		link(rel="shortcut icon" type="image/x-icon" href="../favicon.png")
		link(rel="stylesheet" href="../css/specs.css")
		<!-- Facebook Pixel Code -->
		script
			| !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window, document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init', '183143279045048');fbq('track', 'PageView');
		noscript
			img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=869611096574211&ev=PageView&noscript=1")
		<!-- End Facebook Pixel Code -->
		script 
			| !function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?158",t.onload=function(){VK.Retargeting.Init("VK-RTRG-11201-hHU9b"),VK.Retargeting.Hit()},document.head.appendChild(t)}();
	body#specialist
		include header
		section#main.main_cons
			.container
				h1.main_title Консультант:
				img.main_avatar(src="img/rojkova.t.jpg", alt="Татьяна Рожкова")
				h2.main_subtitle.spec_main_suptitle Татьяна Рожкова
				h3.main_subtitle.main_subtitle_reach Получите консультацию Татьяны
				button.button.buttom_main_cons(data-toggle="modal" data-target="#pcModalForm") Получить консультацию
		section#cons_skills
			.container
				h3.general_title Навыки и регалии Татьяны
				ul.skills_list
					li Специалист по метафорическим картам (МАК);
					li Cистемный расстановщик (терапевтические расстановки по методу Б.Хеллингера очно);
					li Процессор техники РПТ;
					li Специалист по отношениям;
					li Изучала техники НЛП  и Транзактный анализ
				.row.certs_container
					.col-md-3.col-sm-3.col-xs-6
						a(href="img/cert_1.jpg" data-fancybox="certs")
							img.lazy.cert_img(data-src="img/cert_1.jpg", alt="Сертификат")
					.col-md-3.col-sm-3.col-xs-6
						a(href="img/cert_2.jpg" data-fancybox="certs")
							img.lazy.cert_img(data-src="img/cert_2.jpg", alt="Сертификат")
					.col-md-3.col-sm-3.col-xs-6
						a(href="img/cert_3.jpg" data-fancybox="certs")
							img.lazy.cert_img(data-src="img/cert_3.jpg", alt="Сертификат")
					.col-md-3.col-sm-3.col-xs-6
						a(href="img/cert_4.jpg" data-fancybox="certs")
							img.lazy.cert_img(data-src="img/cert_4.jpg", alt="Сертификат")
				button.button.all_certs_button#all_certs_button Все сертификаты
				.row.certs_container#all_certs
					.col-md-3.col-sm-3.col-xs-6
						a(href="img/cert_5.jpg" data-fancybox="certs")
							img.lazy.cert_img(data-src="img/cert_5.jpg", alt="Сертификат")
					.col-md-3.col-sm-3.col-xs-6
						a(href="img/cert_6.jpg" data-fancybox="certs")
							img.lazy.cert_img(data-src="img/cert_6.jpg", alt="Сертификат")
					.col-md-3.col-sm-3.col-xs-6
						a(href="img/cert_7.jpg" data-fancybox="certs")
							img.lazy.cert_img(data-src="img/cert_7.jpg", alt="Сертификат")
					.col-md-3.col-sm-3.col-xs-6
						a(href="img/cert_8.jpg" data-fancybox="certs")
							img.lazy.cert_img(data-src="img/cert_8.jpg", alt="Сертификат")
					.col-md-3.col-sm-3.col-xs-6
						a(href="img/cert_9.jpg" data-fancybox="certs")
							img.lazy.cert_img(data-src="img/cert_9.jpg", alt="Сертификат")
					.col-md-3.col-sm-3.col-xs-6
						a(href="img/cert_10.jpg" data-fancybox="certs")
							img.lazy.cert_img(data-src="img/cert_10.jpg", alt="Сертификат")
					.col-md-3.col-sm-3.col-xs-6
						a(href="img/cert_11.jpg" data-fancybox="certs")
							img.lazy.cert_img(data-src="img/cert_11.jpg", alt="Сертификат")
					.col-md-3.col-sm-3.col-xs-6
						a(href="img/cert_12.jpg" data-fancybox="certs")
							img.lazy.cert_img(data-src="img/cert_12.jpg", alt="Сертификат")
					.col-md-3.col-sm-3.col-xs-6
						a(href="img/cert_13.jpg" data-fancybox="certs")
							img.lazy.cert_img(data-src="img/cert_13.jpg", alt="Сертификат")
					.col-md-3.col-sm-3.col-xs-6
						a(href="img/cert_14.jpg" data-fancybox="certs")
							img.lazy.cert_img(data-src="img/cert_14.jpg", alt="Сертификат")
					.col-md-3.col-sm-3.col-xs-6
						a(href="img/cert_15.jpg" data-fancybox="certs")
							img.lazy.cert_img(data-src="img/cert_15.jpg", alt="Сертификат")
					.col-md-3.col-sm-3.col-xs-6
						a(href="img/cert_16.jpg" data-fancybox="certs")
							img.lazy.cert_img(data-src="img/cert_16.jpg", alt="Сертификат")
					.col-md-3.col-sm-3.col-xs-6.col-md-offset-3.col-sm-offset-3.col-xs-offset-0
						a(href="img/cert_17.jpg" data-fancybox="certs")
							img.lazy.cert_img(data-src="img/cert_17.jpg", alt="Сертификат")
					.col-md-3.col-sm-3.col-xs-6
						a(href="img/cert_18.jpg" data-fancybox="certs")
							img.lazy.cert_img(data-src="img/cert_18.jpg", alt="Сертификат")
		section#cons_requests
			.container
				h3.general_title.cons_requests_general_title Запросы, с которыми работает Татьяна
					small Запросы во всех сферах жизни без ограничений: 
				ul.requests_list
					li 
						i.fa.fa-check-square-o(aria-hidden="trie") 
						| Отношения 
						span.requests_list_more подробнее
						ul.requests_inner_list
							li не могу забыть бывшего;
							li нет достойных мужчин рядоь;
							li нет взаимопонимания с партнёром;
							li любовная зависимость;
							li развод
					li 
						i.fa.fa-check-square-o(aria-hidden="trie") 
						| Утраты 
						span.requests_list_more подробнее
						ul.requests_inner_list
							li умер любимый человек, никак не могу вернуть себя к полноценной жизни
					li 
						i.fa.fa-check-square-o(aria-hidden="trie") 
						| Страхи 
						span.requests_list_more подробнее
						ul.requests_inner_list
							li переживаю что мое окружение будет меня критиковать;
							li чувствую скованность и неуверенность в себе в непривычных ситуациях
					li 
						i.fa.fa-check-square-o(aria-hidden="trie") 
						| Кризисы 
						span.requests_list_more подробнее
						ul.requests_inner_list
							li чувствую, что в нашей паре копятся скрытые  обиды,  претензии, разочарование;
							li что делать когда родители вмешиваются в личную жизнь;
							li хочу перестать испытывать чувство вины;
							li постоянно злюсь на всех;
							li боюсь летать на самолете
					li 
						i.fa.fa-check-square-o(aria-hidden="trie") 
						| Психосоматика 
						span.requests_list_more подробнее
						ul.requests_inner_list
							li хочу узнать почему возникла болезнь;
							li никак не могу вылечить  проблемы с кожей, женские заболевания
				button.button.buttom_reqs(data-toggle="modal" data-target="#pcModalForm") Получить консультацию
		section#cons_biography
			.container
				h3.general_title Биография Татьяны Рожковой
				img(data-src="img/rojkova.t.jpg", alt="Татьяна Рожкова").lazy.biography_img
				p.biography_text Родилась и живу в Москве. В детстве была очень закомплексованным ребенком. Постоянно болела. Простуды одолевали.  Может по этому я выбрала после школы профессию врача, потому что мне казалось тогда , что вылечив себя смогу вылечить других. .  Мне очень хотелось помогать людям.  Меня часто спрашивают: что меня привело в психологию. Хочу ответить всем и сразу))
				p.biography_text Я заметила что у меня в жизни периодически стала повторяться одна и таже ситуация. Причем когда что-то происходит в первый раз, это нормально. Когда второй раз, ну бывает. Когда в третий раз уже - начинаешь задумываться мож как - то не так поступила и меняешь свою реакцию, и когда я поняла, что дело не в ситуации и не в моем поведении, я стала копать. Искать ответ на вопрос: почему определенный сценарий не то что бы просто повторяется, а даже можно сказать преследует человека по жизни. И я нашла. И разорвала этот круг повторяюшихся событий в моей жизни.
				p.biography_text Но для того чтобы все это раскопать, мне пришлось закончить институт и стать практическим психологом, отучиться на авторских курсах ведущих психологов, стать специалистом по метафорическим картам (МАК-терапевтом), расстановщиком по методу Б. Хеллингера, изучить метод РПТ.  Теперь я с уверенностью могу сказать, что в этом мире все что с нами случается, это не случайно и имеет свою причину! И теперь будучи психологом с медицинским образованием я могу исцелять физические недуги  быстрее. Так сложилось что   более  15лет я  работаю с женщинами. Я очень хорошо знаю женские проблемы.  Мне очень отрадно наблюдать за моими любимыми клиентками, когда они преображаются после моей консультации не только внешне, но и внутренне.
				p.biography_text Я ,как эксперт по семейным отношениям, помогла многим женщинам решить их проблемы в семейной жизни. И благодаря  моим консультациям удалось сохранить отношения, и вдохнуть в них новую жизнь.
				p.biography_text Время течет и для того, чтобы помогать быстро и эффективно, я постоянно повышаю свою квалификацию.
				a(href="/").to_main 
					i.fa.fa-angle-double-left(aria-hidden="true") &nbsp;
					| На главную
		include footer
		<div class="modal fade" tabindex="-1" role="dialog" id="pcModalForm">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-wrapper">
						<div class="modal-body"> 
							<button class="close" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
							<form class="feedback_form consult_form" action="../../thanks/specialist.php" method="post">
								<h3>Заявка на личную консультацию</h3>
								<input name="first-name" placeholder="Ваше имя" type="text"> <!--<input type="text" name="last-name" placeholder="Ваша фамилия" />--> 
								<input name="phone" placeholder="Ваш телефон" type="tel"> <!--<input type="email" name="email" placeholder="Ваш email" />-->
								<input name="spec" type="hidden"  value="Татьяны Рожковой"> <!--<input type="email" name="email" placeholder="Ваш email" />-->
								<textarea name="msg" placeholder="Коротко о Вашем запросе"></textarea>
								<p class="alert_message"></p>
								//- <p class="success_message"></p>
								<div class="checking">
									<input class="check" id="check" checked="checked" type="checkbox">
									<label class="check_label" for="check">Я согласен с
										<a href="javascript:void(0);" data-toggle="modal" data-target="#pcModalPolitics">условиями обработки </a>персональных данных
									</label>
								</div>
								<button class="button" type="submit" >Отправить</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		include polit