<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="author" content="Master Vision")
		meta(name="description" content="Консультант MasterVision: Светлана Волкова")
		meta(property="og:image" content="http://mastervisioncons.ru/img/banner.jpg")
		title Консультант MasterVision: Светлана Волкова
		link(rel="icon" type="image/x-icon" href="../favicon.ico")
		link(rel="shortcut icon" type="image/x-icon" href="../favicon.png")
		link(rel="stylesheet" href="../css/specs.css")
		<!-- Facebook Pixel Code -->
		script
			| !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window, document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init', '183143279045048');fbq('track', 'PageView');
		noscript
			img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=869611096574211&ev=PageView&noscript=1")
		<!-- End Facebook Pixel Code -->
		script 
			| !function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?158",t.onload=function(){VK.Retargeting.Init("VK-RTRG-11201-hHU9b"),VK.Retargeting.Hit()},document.head.appendChild(t)}();
	body#specialist
		include header
		section#main.main_cons
			.container
				h1.main_title Консультант:
				img.main_avatar(src="img/volkova.s.jpg", alt="Светлана Волкова")
				h2.main_subtitle.spec_main_suptitle Светлана Волкова
				h3.main_subtitle.main_subtitle_reach Получите консультацию Светланы
				button.button.buttom_main_cons(data-toggle="modal" data-target="#pcModalForm") Получить консультацию
		section#cons_skills
			.container
				h3.general_title Навыки и регалии Светланы
				ul.skills_list
					li медиум,
					li ведовство,
					li шаманские техники,
					li целитель,
					li природная магия,
					li таролог,
					li рунолог
		section#cons_requests
			.container
				h3.general_title.cons_requests_general_title Запросы, с которыми работает Светлана
				ul.requests_list
					li 
						i.fa.fa-check-square-o(aria-hidden="true") 
						| диагностики на негативное воздействие,
					li 
						i.fa.fa-check-square-o(aria-hidden="true") 
						| снятие негативных программ,
					li 
						i.fa.fa-check-square-o(aria-hidden="true") 
						| постановка защиты человеку,
					li 
						i.fa.fa-check-square-o(aria-hidden="true") 
						| редко, но в исключении, связь с  умершими предками рода
				button.button.buttom_reqs(data-toggle="modal" data-target="#pcModalForm") Получить консультацию
		section#cons_biography
			.container
				h3.general_title Биография Светланы Волковой
				img(data-src="img/volkova.s.jpg", alt="Светлана Волкова").lazy.biography_img
				p.biography_text Дар пришел после перенесения тяжелой утраты. Обучение давали разные специалисты, практики проходила сама. Дар медиума раскрылся сам. Целительству обучалась на Алтае.
				p.biography_text Так же подбираю амулеты  и заряжаю их на защиту от недоброжелателей.
				p.biography_text Литотерапия - лечение полудрагоценными и драгоценными камнями. Тоже освоила.
				p.biography_text Очень много изучала литературы по астрологии, хиромантии, нумерологии. Но данные темы я использую, для работы с клиентом, как инструмент, чтоб всесторонне изучить его проблему.
				a(href="/").to_main 
					i.fa.fa-angle-double-left(aria-hidden="true") &nbsp;
					| На главную
		include footer
		<div class="modal fade" tabindex="-1" role="dialog" id="pcModalForm">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-wrapper">
						<div class="modal-body"> 
							<button class="close" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
							<form class="feedback_form consult_form" action="../../thanks/specialist.php" method="post">
								<h3>Заявка на личную консультацию</h3>
								<input name="first-name" placeholder="Ваше имя" type="text"> <!--<input type="text" name="last-name" placeholder="Ваша фамилия" />--> 
								<input name="phone" placeholder="Ваш телефон" type="tel"> <!--<input type="email" name="email" placeholder="Ваш email" />-->
								<input name="spec" type="hidden"  value="Светланы Волковой"> <!--<input type="email" name="email" placeholder="Ваш email" />-->
								<textarea name="msg" placeholder="Коротко о Вашем запросе"></textarea>
								<p class="alert_message"></p>
								//- <p class="success_message"></p>
								<div class="checking">
									<input class="check" id="check" checked="checked" type="checkbox">
									<label class="check_label" for="check">Я согласен с
										<a href="javascript:void(0);" data-toggle="modal" data-target="#pcModalPolitics">условиями обработки </a>персональных данных
									</label>
								</div>
								<button class="button" type="submit" >Отправить</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		include polit