.modal.fade(tabindex="-1" role="dialog")#modalH_3
	.modal-dialog(role="document")
		.modal-content.history_modal-content
			.modal-wrapper
				.modal-header
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title Из практики Олеси Томак
				.modal-body
					p Сегодня я хочу поделиться с вами историей, в которой магия в буквальном смысле спасла жизнь и здоровье моей клиентки, а ещё помогла сохранить ей ребёнка. 
					p Это произошло несколько лет назад. Девушка, назовем ее Екатериной, недавно переехала в Европу, вышла там замуж и ждала ребенка, первенца. Но ожидание счастливого события омрачалось тем, что перед этой беременностью у Кати было несколько выкидышей. И риск потерять ребенка существовала и теперь. 
					p Когда Екатерина пришла ко мне на приём, она была в тяжелом состоянии как морально, так и физически. У неё был тонус матки и угроза выкидыша. Ее обуревал страх за себя и своего ребёнка, потому что очень хотела его сохранить. Катя находилась в невероятном напряжении, когда мы начали сеанс. 
					p Во время сессии я прежде всего поработала над ее страхом, чтобы успокоить девушку. И увидела в ее прошлом причину выкидышей. Всё дело было в аборте, который она сделала за несколько лет до свадьбы и скрыла ото всех. Это прошлое, ее неоплаканный неродившийся ребенок, груз вины и страхи не позволяли ей благополучно выносить долгожданного малыша. 
					p Во время сессии мы буквально расстворили негативные последствия этой ситуации. Екатерина успокоилась. В течение нашего сеанса всего за полчаса волшебным образом ушел тонус матки. Девушка расслабилась, а тяжелый груз с души наконец-то был снят. Опасность миновала.
					p Через несколько месяцев Екатерина родила здорового малыша и наслаждается счастливой семейной жизни с мужем и ребёнком. Теперь Катя и ее муж хотят вторую доченьку. И Екатерина спокойна и уверена, ведь никакие тени и страхи прошлого ей больше не навредят! 