.modal.fade(tabindex="-1" role="dialog")#modalH_2
	.modal-dialog(role="document")
		.modal-content.history_modal-content
			.modal-wrapper
				.modal-header
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title Из практики Натальи Пара
				.modal-body
					h5 Магия Любви
					p "Я хочу быть счастливой!" - так говорят женщины, которые по той или иной причине приходят ко мне на прием. Пять лет назад ко мне обратилась женщина с просьбой помочь ее дочери, которой на тот момент было уже под сорок. Вроде все при ней, но ни мужа, ни детей. В ходе диагностики выяснилось, что у клиентки были длительные отношения с мужчиной, но долгожданная беременность не наступала. Полученные от бывшего партнера психологические травмы только усугубляли ее состояние
					p На первом сеансе я провела чистку клиентки на Тонком Плане. Убрали  эмоциональные блоки и страхи. Девушка обрела душевное равновесие
					p Во время второго сеанса я установила клиентке настройки на замужество и рождение детей
					p Мы встретились спустя два года. И я с удовольствием передам рассказ самой девушки
					p 
						em "После  сеанса я с нетерпением ждала новых событий. Мне же сказали, что, жди - будет. Прошло наверно полгода, может больше, я начала сильно поправляться, но не придала этому значения. Зато моя мама быстро заподозрила приятное. В клинике тестирование подтвердило мою беременность. Ура! Наконец-то, сбылось! Беременность прошла спокойно и малышка родилась в срок."
					p Сейчас девушка счастлива в браке и воспитывает чудесного ребенка