head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1")
	meta(http-equiv="X-UA-Compatible" content="ie=edge")
	meta(name="author" content="Master Vision")
	meta(name="description" content="Консультант MasterVision: " + name_and_surname_1)
	meta(property="og:image" content="http://mastervisioncons.ru/img/banner.jpg")
	title Консультант MasterVision: #{name_and_surname_1}
	link(rel="icon" type="image/x-icon" href="../favicon.ico")
	link(rel="shortcut icon" type="image/x-icon" href="../favicon.png")
	link(rel="stylesheet" href="../css/specs.css")
	<!-- Facebook Pixel Code -->
	script
		| !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window, document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init', '183143279045048');fbq('track', 'PageView');
	noscript
		img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=869611096574211&ev=PageView&noscript=1")
	<!-- End Facebook Pixel Code -->
	script 
		| !function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?158",t.onload=function(){VK.Retargeting.Init("VK-RTRG-11201-hHU9b"),VK.Retargeting.Hit()},document.head.appendChild(t)}();