section#main.main_cons
	.container
		h1.main_title Консультант:
		img.main_avatar(src=img, alt=name_and_surname_1)
		h2.main_subtitle.spec_main_suptitle #{name_and_surname_1}
		h3.main_subtitle.main_subtitle_reach Получите консультацию #{name_2}
		button.button.buttom_main_cons(data-toggle="modal" data-target="#pcModalForm") Получить консультацию