section#cons_skills
	.container
		h3.general_title Навыки и регалии #{name_2}
		ul.skills_list
			each skill in skills.length ? skills : ['Нет навыков и регалий']
				li= skill
		div.row.certs_container
			each cert in certs
				.col-md-3.col-sm-3.col-xs-6
					a(href= cert.href data-fancybox="certs")
						img.lazy.rev_img(data-src= cert.src, alt="Отзыв")