-var name_1 = '';
-var name_2 = '';
-var name_and_surname_1 = '';
-var name_and_surname_2 = '';
-var img = 'img/avatar.jpg';
-var skills = [];
-var reqs = [];
-var bpps = [];
<!DOCTYPE html>
html(lang="ru")
    include ../templates/header
    body#specialist
        include ../templates/main
        include ../templates/skills
        include ../templates/reqs_min
        include ../templates/biography
        include ../templates/footer
        include ../templates/mail_form
        include ../templates/polit