<div class="modal fade" tabindex="-1" role="dialog" id="modal_chat">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-wrapper">
				<div class="modal-body"> 
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h3 class="modal_chat_title">Чат со специалистом</h3>
					.modal_body_chat_container
				</div>
			</div>
		</div>
	</div>
</div>