section#action
    .container
        h3.general_title.action_general_title Акция!
        #sales
            h4.sales_title Скидки!!!
            p.sales_text На сегодняшний день есть консультанты со скидочными местам, оставьте заявку, чтобы попасть к ним
            button.button.button_action(data-toggle="modal" data-target="#pcModalForm") Получить консультацию со скидкой