section#histories
	.container
		h3.general_title Успешные истории специалистов
		.row
			.col-md-6.col-sm-6
				.history
					img.history_img(src="img/specialists/kondurina.t.jpg", alt="Татьяна Кондюрина")
					h4.history_title Из практики
						br
						| Кондюриной Татьяны
					p.history_text Предистория. У Аси (имя изменено по просьбе исцеляемой) были очень сильные язвы на лице, более 30 лет, которые не проходили...
					button.history_more_button(data-toggle="modal" data-target="#modalH_1") Читать всю историю
					.clearfix
			.col-md-6.col-sm-6
				.history
					img.history_img(src="img/specialists/para.n.jpg", alt="Наталья Пара")
					h4.history_title Из практики
						br 
						| Натальи Пары
					p.history_text Пять лет назад ко мне обратилась женщина с просьбой помочь ее дочери, которой на тот момент было уже под сорок. Вроде все при ней, но ни мужа, ни детей. В ходе диагностики выяснилось...
					button.history_more_button(data-toggle="modal" data-target="#modalH_2") Читать всю историю
					.clearfix
			.col-md-6.col-sm-6
				.history
					img.history_img(src="img/specialists/miniatyura.png", alt="Олеся Томак")
					h4.history_title Из практики
						br
						| Олеси Томак
					p.history_text Это произошло несколько лет назад. Девушка, назовем ее Екатериной, недавно переехала в Европу, вышла там замуж и ждала ребенка, первенца. Но ожидание счастливого события омрачалось тем, что...
					button.history_more_button(data-toggle="modal" data-target="#modalH_3") Читать всю историю
					.clearfix
			.col-md-6.col-sm-6
				.history
					img.history_img(src="img/specialists/image11.png", alt="Тамара Фирсова")
					h4.history_title Из практики
						br
						| Тамары Фирсовой
					p.history_text Ко мне обратилась женщина, которая встречалась с мужчиной уже год, он был женат, обещал уйти из семьи, но не решался. По дате рождения я посмотрела возможности женщины и мужчины. Мужчине моя клиентка  очень хорошо подходила...
					button.history_more_button(data-toggle="modal" data-target="#modalH_4") Читать всю историю
					.clearfix