include header
section#main
    .container
        h1.main_title Консультация
        h2.main_subtitle Решение ваших проблем в сфере бизнеса, здоровья, личных отношений...
        h3.main_subtitle.main_subtitle_reach Получите консультацию через 5 минут
        button.button.button_main(data-toggle="modal" data-target="#pcModalForm") Получить консультацию
        img(src="img/magic_five.png", alt="Великолепная пятёрка")#magic_five