section#reveiws
    .container
        h3.general_title Отзывы о работе наших консультантов
        .row
            .col-md-4.col-sm-6.col-xs-6
                .video_wrapper.revs_video_wrapper(data-youtube="Fvl6TkikJKw")
                    img(src="img/revs/rev_1.jpg", alt="Видео-отзыв")
            .col-md-4.col-sm-6.col-xs-6
                .video_wrapper.revs_video_wrapper(data-youtube="f4WOOJzcUR8")
                    img(src="img/revs/rev_2.jpg", alt="Видео-отзыв")
            .col-md-4.col-sm-6.col-xs-6
                .video_wrapper.revs_video_wrapper(data-youtube="lmHTgS9lDGA")
                    img(src="img/revs/rev_3.jpg", alt="Видео-отзыв")
        button.all#all_revs_button Смотреть все отзывы
        #revs_all
            .row
                .col-md-4.col-sm-6.col-xs-6
                    .video_wrapper.revs_video_wrapper(data-youtube="D78pGHx3cVk")
                        img(src="img/revs/rev_4.jpg", alt="Видео-отзыв")
                .col-md-4.col-sm-6.col-xs-6
                    .video_wrapper.revs_video_wrapper(data-youtube="KAmEOPNL9vo")
                        img(src="img/revs/rev_5.jpg", alt="Видео-отзыв")
                .col-md-4.col-sm-6.col-xs-6
                    .video_wrapper.revs_video_wrapper(data-youtube="_G9sTigZV-g")
                        img(src="img/revs/rev_6.jpg", alt="Видео-отзыв")
                .col-md-4.col-sm-6.col-xs-6
                    .video_wrapper.revs_video_wrapper(data-youtube="fVy-8ekZr-A")
                        img(src="img/revs/rev_7.jpg", alt="Видео-отзыв")
                .col-md-4.col-sm-6.col-xs-6
                    .video_wrapper.revs_video_wrapper(data-youtube="3TmmxakgwU0")
                        img(src="img/revs/rev_8.jpg", alt="Видео-отзыв")
                .col-md-4.col-sm-6.col-xs-6
                    .video_wrapper.revs_video_wrapper(data-youtube="C53xmZjp7SA")
                        img(src="img/revs/rev_9.jpg", alt="Видео-отзыв")
                .col-md-4.col-sm-6.col-xs-6
                    .video_wrapper.revs_video_wrapper(data-youtube="sn4uZBVLsOM")
                        img(src="img/revs/rev_10.jpg", alt="Видео-отзыв")
                .col-md-4.col-sm-6.col-xs-6
                    .video_wrapper.revs_video_wrapper(data-youtube="ZF9JQrvBX_w")
                        img(src="img/revs/rev_11.jpg", alt="Видео-отзыв")
                .col-md-4.col-sm-6.col-xs-6
                    .video_wrapper.revs_video_wrapper(data-youtube="khZiryP7aSk")
                        img(src="img/revs/rev_12.jpg", alt="Видео-отзыв")
                .col-md-4.col-sm-6.col-xs-6
                    .video_wrapper.revs_video_wrapper(data-youtube="efRuO1TEmZE")
                        img(src="img/revs/rev_13.jpg", alt="Видео-отзыв")
                .col-md-4.col-sm-6.col-xs-6
                    .video_wrapper.revs_video_wrapper(data-youtube="aYK5ypc5SD0")
                        img(src="img/revs/rev_14.jpg", alt="Видео-отзыв")
                .col-md-4.col-sm-6.col-xs-6
                    .video_wrapper.revs_video_wrapper(data-youtube="c3Wd-vKmBsQ")
                        img(src="img/revs/rev_15.jpg", alt="Видео-отзыв")
                .col-md-4.col-sm-6.col-xs-6
                    .video_wrapper.revs_video_wrapper(data-youtube="uLhWCOET65I")
                        img(src="img/revs/rev_16.jpg", alt="Видео-отзыв")
                .col-md-4.col-sm-6.col-xs-6
                    .video_wrapper.revs_video_wrapper(data-youtube="dCNbS5_ci9E")
                        img(src="img/revs/rev_17.jpg", alt="Видео-отзыв")
                .col-md-4.col-sm-6.col-xs-6
                    .video_wrapper.revs_video_wrapper(data-youtube="RpldhhJG_ig")
                        img(src="img/revs/rev_18.jpg", alt="Видео-отзыв")