section#specialists
	.container
		h3.general_title Наши специалисты
		.row
			.col-md-3.col-sm-6
				.our_specialist
					img(src="img/specialists/simonova.s.jpg", alt="Светлана Симонова")
					h4 Светлана Симонова
					p Энерготерапевт, терапевт БВТ, тетахилер, вьюер
			.col-md-3.col-sm-6
				.our_specialist
					img(src="img/specialists/ursova.o.jpg", alt="Олия Урусова")
					h4 Олия Урусова
					p Расстановщик, коуч, бизнес- тренер, вьюер
			.col-md-3.col-sm-6
				.our_specialist
					img(src="img/specialists/peshina.a.jpg", alt="Анна Пешина")
					h4 Анна Пешина
					p Вьюер, дистанционный медик, экстрасенсорный диагност, биоэнергетик, кармический целитель
			.col-md-3.col-sm-6
				.our_specialist
					img(src="img/specialists/ivanov.s.jpg", alt="Степан Иванов")
					h4 Степан Иванов
					p Вьюер, целитель
		button.all#all_specialists_button Все специалисты
		#our_specialists_more
			.row
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/kravtsova.e.jpg", alt="Елена Кравцова")
						h4 Елена Кравцова
						p Вьюер, целитель, таролог
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/melihova.y.jpg", alt="Юлия Мелихова")
						h4 Юлия Мелихова
						p Вьюер, дистанционный целитель, практик магии исполнения желаний
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/kondurina.t.jpg", alt="Татьяна Кондюрина (Иллия)")
						h4 Татьяна Кондюрина (Иллия)
						p Квантовый целитель, тетахилер, вьюер, космо, био-энергет, практик EMF
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/drozdova.e.jpg", alt="Елена Дроздова")
						h4 Елена Дроздова
						p Вьюер, коуч, специалист по Метафорическим Картам, духовная интеграционника, терапевт
			.row
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/remesheva.n.jpg", alt="Надежда Ремешева")
						h4 Надежда Ремешева
						p Системный расстановщик, вьюер, эзотерик — целитель, специалист по Метафорическим картам
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/shantro.a.jpg", alt="Алеся Шандро")
						h4 Алеся Шандро
						p Системный расстановщик, специалист по МАК, процессор техник РПТ, психотерапевт, женский коуч
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/korotkova.t.jpg", alt="Татьяна Короткова")
						h4 Татьяна Короткова
						p Психолог-консультант, нумеролог по бизнесу, таролог, астропсихолог, вьюер
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/para.n.jpg", alt="Наталия Пара")
						h4 Наталия Пара
						p Психологический тренер, экстрасенс, волшебница, целитель, вьюер, бизнес-консультант
			.row
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/makarova.f.jpg", alt="Флюра Макарова")
						h4 Флюра Макарова
						p Дистанционный целитель, работа с чакрами, вьюер, проработка кармических ситуаций
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/berezovskaya.i.jpg", alt="Ирина Березовская")
						h4 Ирина Березовская
						p Тета-практик, биоэнерготерапевт, коуч-нумеролог, кармотерапевт, коуч-регрессолог, вьюер, целитель, маг
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/elisheva.l.jpg", alt="Лауфер Элишева")
						h4 Лауфер Элишева
						p Педагог-психолог, коуч, сказкотерапевт, МАК-практик
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/lomako.v.jpg", alt="Валентина Ломако")
						h4 Валентина Ломако
						p Врач, психотерапевт, практический психолог, коуч, МАК-консультант, таролог
			.row
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/muravyova.s.jpg", alt="Светлана Муравьева")
						h4 Светлана Муравьева
						p МАК-консультант, телесно-ориентированная терапия, арт-терапия, Thetahealing
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/tsymbalistaya.o.jpg", alt="Ольга Цымбалистая")
						h4 Ольга Цымбалистая
						p МАК-консультант, мастер Рейки, коуч стратегического коучинга, рунический психолог
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/kravtsova.e.2.jpg", alt="Елена Кравцова")
						h4 Елена Кравцова
						p МАК-консультант, трансформационный коуч, процессор ДИ, женский психолог
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/golyash.g.jpg", alt="Галина Голяш")
						h4 Галина Голяш
						p Психолог, МАК-консультант, хиромант
			.row
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/stivens.png", alt="Алёна Стивенс")
						h4 Алёна Стивенс
						p Системный расстановщик, психолог, коуч, процессор РПТ, МАК-терапевт
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/dukhnova.e.jpg", alt="Елена Духнова")
						h4 Елена Духнова
						p Практический психолог, МАК-специалист, вьюер, хиромант, русские руны, дизайн человека
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/Natalya.png", alt="Наталья Фёдорова")
						h4 Наталья Фёдорова
						p Мастер практической психологии, МАК-специалист, системный семейный расстановщик
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/image4.png", alt="Юлия Габерштайн")
						h4 Юлия Габерштайн
						p Психолог, коуч, специалист по МАК и межличностным отношениям, расстановщик, РПТ
			.row
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/image5.png", alt="Динара Янбердина")
						h4 Динара Янбердина
						p Практический психолог, НЛП-практик, специалист по МАК, специалист по работе с отношениями
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/image15.png", alt="Зульфия Фаттахова")
						h4 Зульфия Фаттахова
						p МАК-консультант, тета-практик, психолог
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/image19.png", alt="Ульяна Фролова")
						h4 Ульяна Фролова
						p Психолог, лайф-коуч, системный тета-коуч, Гранд Мастер Рейки, рунолог, таролог, МАК специалист.
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/image11.png", alt="Тамара Фирсова")
						h4 Тамара Фирсова
						p Таролог, расстановщик, астролог, астропсихолог, нумеролог, МАК-консультант
			.row
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/image7.png", alt="Светлана Волкова")
						h4 Светлана Волкова
						p Медиум, целитель, ведовские знания, природная магия, шаманские техники, таролог, рунолог
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/image19-1.png", alt="Наталья Савичева")
						h4 Наталья Савичева
						p Практикующий психолог, МАК-консультант, арт-терапия, работа с образами, психосоматика
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/image16.png", alt="Татьяна Москалева")
						h4 Татьяна Москалева
						p Таролог, рунолог, вьювер, НЛП практик, эриксоновский гипноз и сефиротическая магия
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/chupira.a.png", alt="Анна Чупира")
						h4 Анна Чупира
						p Таролог, вьюер, прогнозирование событий с опытом 10 лет
			.row
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/miniatyura.png", alt="Олеся Томак")
						h4 Олеся Томак
						p Экстрасенс, вьюер, расстановщик, коуч
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/lebed.png", alt="Виктория Лебидь")
						h4 Виктория Лебидь
						p Таролог, рунолог, практик йоги, цигун шоу-дао и рэйки III ступени, эзотерик  с 12-летним стажем
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/bazylyova.i.jpg", alt="Ирина Базылева")
						h4 Ирина Базылева
						p Коррекция судьбы, коуч-тренер в сфере финансов и отношений, специалист по работе с МАК, нумеролог
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/botneva.n.jpg", alt="Наталья Ботнева")
						h4 Наталья Ботнева
						p Расстановщик, бизнес-тренер, тренер личностного роста, специалист по МАК и отношениям, психолог, вьюер
			.row
				.col-md-3.col-sm-6
					.our_specialist
						img(src="img/specialists/dovbysh.o.png", alt="Оксана Довбыш")
						h4 Оксана Довбыш
						p Коуч, МАК консультант по психосоматике, нумеролог, таролог