section#faq
    .container
        h3.general_title Часто задаваемые вопросы
        #faqs
            .faq_container
                .faq_title
                    h3 Сколько стоит консультация?
                    span +
                .faq_content
                    p Стоимость консультации от бесплатной до 6 000р., в зависимости от запроса и консультанта - оставьте Вашу заявку, мы позвоним Вам и определим Вам консультанта
                    button.button.button_faq(data-toggle="modal" data-target="#pcModalForm") Получить консультацию
            .faq_container
                .faq_title
                    h3 Какие запросы решают консультанты?
                    span +
                .faq_content
                    p У нас более 100  консультантов, они решают практически все запросы по таким темам как личная жизнь, деньги, здоровье, бизнес
            .faq_container
                .faq_title
                    h3 Какие методы решения запросов?
                    span +
                .faq_content
                    p Наши специалисты обладают разными методами от психологии до магии. У каждого свой инструмент - оставьте заявку, администратор поможет подобрать самого подходящего специалиста
                    button.button.button_faq(data-toggle="modal" data-target="#pcModalForm") Получить консультацию
            .faq_container
                .faq_title
                    h3 Как получить консультацию?
                    span +
                .faq_content
                    p Оставьте заявку, кликнув по кнопке ниже
                    button.button.button_faq(data-toggle="modal" data-target="#pcModalForm") Получить консультацию
            .faq_container
                .faq_title
                    h3 Как часто Вы отказываете в консультации и почему?
                    span +
                .faq_content
                    p Иногда бывают случаи неразрешимых проблем, но чтобы это определить, нужно оставить заявку, менеджер с Вами свяжется и поможет подобрать Вам наиболее подходящего консультанта, который сможет помочь именно Вам с наибольшей вероятностью
                    button.button.button_faq(data-toggle="modal" data-target="#pcModalForm") Получить консультацию