section#numbers
	.container
		.row.numbers_row_one
			.col-md-4.col-sm-4.col-xs-4
				.number_col
					i.fa.fa-calendar-check-o(aria-hidden="true")
					p.number_col_pre консультируем
					h4.number_col_title 4
					p.number_col_text года
			.col-md-4.col-sm-4.col-xs-4
				.number_col
					i.fa.fa-group(aria-hidden="true")
					p.number_col_pre проведено
					h4.number_col_title >11 000
					p.number_col_text консультаций
			.col-md-4.col-sm-4.col-xs-4
				.number_col
					i.fa.fa-bar-chart(aria-hidden="true")
					p.number_col_pre решено
					h4.number_col_title ~10 500
					p.number_col_text вопросов
		.row
			.col-md-4.col-sm-4.col-xs-4.col-md-offset-2.col-sm-offset-2.col-xs-offset-2
				.number_col
					i.fa.fa-vcard-o(aria-hidden="true")
					p.number_col_pre на платформе
					h4.number_col_title >100
					p.number_col_text консультантов
			.col-md-4.col-sm-4.col-xs-4
				.number_col
					i.fa.fa-map-signs(aria-hidden="true")
					p.number_col_pre консультации по
					h4.number_col_title >50
					p.number_col_text направлений
		.row#pomos
			.col-md-4.col-sm-6.col-xs-6
				.video_wrapper.nums_video_wrapper(data-youtube="mv_LrdVob2E")
					img(src="../img/promos/promo_1.jpg", alt="Промо")
			.col-md-4.col-sm-6.col-xs-6
				.video_wrapper.nums_video_wrapper(data-youtube="-WOWSnefOWY")
					img(src="../img/promos/promo_2.jpg", alt="Промо")
			.col-md-4.col-sm-6.col-xs-6.col-md-offset-0.col-sm-offset-3.col-xs-offset-3
				.video_wrapper.nums_video_wrapper(data-youtube="6Ska_k_nNYo")
					img(src="../img/promos/promo_3.jpg", alt="Промо")
		button.button.button_numbers(data-toggle="modal" data-target="#pcModalForm") Получить консультацию