section#requests
    .container
        h3.requests_title Примеры запросов
        p Если Вы не знаете, как правильно изложить свою проблему, посмотрите примеры и сформулируйте запрос по аналогии
        button.all#all_requests_button Смотреть запросы
        #all_requests
            .row
                .col-md-6.col-sm-6
                    .request_example
                        p Не получается заработать достаточно денег на жизнь. Деньги либо куда-то тратятся, либо что-то случается, либо их не выплачивают
                .col-md-6.col-sm-6
                    .request_example
                        p Не могу избавиться от болезни. Лекарства не помогают. Хочу исцелить такую-то болезнь
            .row
                .col-md-6.col-sm-6
                    .request_example
                        p Плохие отношения с мужем. Замужем не первый раз, а все как по кругу одно и тоже. Хочу разорвать этот круг и построить нормальные отношения
                .col-md-6.col-sm-6
                    .request_example
                        p Хочу родить ребёнка, но не получается забеременеть. Врачи диагноз не ставят, говорят, все нормально, но ребёнок у нас не получается
            .row
                .col-md-6.col-sm-6
                    .request_example
                        p Хочу разобраться в отношениях. Все мужчины от меня сбегают не понятно почему
                .col-md-6.col-sm-6
                    .request_example
                        p Не могу похудеть. Что только не перепробовала, но никак не худеется
            .row
                .col-md-6.col-sm-6
                    .request_example
                        p Хочу помочь мужу избавиться от алкоголизма. Что можно сделать, чтобы он перестал пить
                .col-md-6.col-sm-6
                    .request_example
                        p Хочу найти своё предназначение. Не знаю чем заняться. Вроде многое умею, но ничего не интересно или не получается. В чем моя миссия
            .row
                .col-md-6.col-sm-6
                    .request_example
                        p Хочу вылечить ребёнка. Ребёнок все время болеет и врачи не могут помочь
                .col-md-6.col-sm-6
                    .request_example
                        p Ребёнок не хочет учиться, не знаю как заставить его что-то делать