.modal.fade(tabindex="-1" role="dialog")#modalH_1
	.modal-dialog(role="document")
		.modal-content.history_modal-content
			.modal-wrapper
				.modal-header
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title Из практики Кондюриной Татьяны
				.modal-body
					h5 Предистория.
					p У Аси (имя изменено по просьбе исцеляемой) были очень сильные язвы на лице, более 30 лет, которые не проходили, и причина их образования была неизвестна.
					p Ниже с ее разрешения я привожу вырезки из нашей переписки.
					h5 15 сентября я провела первый сеанс Исцеления сигнатурной клеткой с Асей.
					p Привет , Татьяна!
					p Прошло почти 2 недели после твоего сеанса. Есть такие результаты:
					p Стали работать защиты , чего раньше не было. Вот вчера наступила ремиссия моей болячки кожа начинает очищаться. Теперь буду смотреть, как долго это будет держаться. Если ты считаешь, что нужен еще один сеанс, то я готова. Тебе, спасибо!
					h5 15 октября мы делаем второй сеанс.
					p Результаты Аси:
					p У меня после твоей работы тело гудело как разбуженный улей. Целый день. Я даже не пыталась смотреть или влиять. Просто проживала это. Вибрации были очень сильные.
					p 17/10
					p Татьяна, привет!
					p Даю отчет.
					p Вчера гудела вся как трансформатор, глянула - сразу картинки пошли опять. Типа врат спонтанно, медиташка пошла. С кожей все потихоньку движется. Глаза без изменений. После второго сеанса с тобой приняла первый попавшийся под руку вариант и получила результат. А я ведь гоооды не получала результат. И это годы мучений от боли и иногда отчаяния. Кстати эту мазь я тоже пробовала лет 5 назад. Прикинь! Я могу теперь голову мыть каждый день и вообще под душем мыться с головы до пят! Плакала и смеялась, когда все произошло. Ты такие раны как у меня раньше были на голове, даже наверное в жизни не видела. Теперь все чисто!
					h5 19 октября третий сеанс.
					p Исцеляли тройничный нерв и дистрофию лица, связанную с этим.
					p Ася: Танюша! докладываю:
					p У меня изменился запах тела, я просто обалдела. Если это что-нибудь нам говорит. Может это говорит о том, что меняется обмен веществ, Типа метаболизм? Если так, то это круто. Или обоняние меняется. Что еще круче. Может и то и то изменилось
					p Сейчас эта женщина сама занимается консультациями, работает с людьми. Это то, что раньше она просто забросила