#action
    padding 60px 0
    background-color: #FEFEFF
.action_general_title
    color #5452fe
    margin-bottom: 30px
#sales
    text-align: center
    width 100%
    max-width 550px
    margin 0 auto
    padding 40px 20px
    background-color: #4745d7;
    background-image: linear-gradient(174deg,#3432de 0,#4745d7 100%);
    border-radius: 3px;
    box-shadow: 0 0 17px 0 rgba(0,0,0,.2);
.sales_title
    font-size: 26px;
    font-family: "HelveticaNeueCyrBold",sans-serif;
    color: #fff;
    line-height: 1.2;
    margin: 0 0 9px;
.sales_text
    font-size: 20px;
    font-family: "HelveticaNeueCyrRoman",sans-serif;
    color: rgba(85,94,124,.8);
    line-height: 1.45;
    color #fff
.button_action
    color #ffffff
    border: 2px solid #fff
    margin: 25px auto 0
    background-color: transparent
    background-image: none
    max-width 400px