#faq
    padding: 60px 0
.faq_container
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 17px 0 rgba(0,0,0,.12);
    box-shadow: 0 0 17px 0 rgba(0,0,0,.12);
    margin-bottom: 20px;
.faq_title
    min-height: 105px;
    padding: 37px 42px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    h3
        font-size: 22px;
        font-family: "HelveticaNeueCyrBold",sans-serif;
        color: #252525;
        margin: 0;
        float: left;
        max-width: 90%;
    span
        position: absolute;
        top: 35px;
        right: 35px;
        font-size: 30px;
        float: right;
        border: 2px solid rgba(40,53,160,.2);
        border-radius: 50%;
        width: 32px;
        height: 32px;
        line-height: 25px;
        text-align: center;
        color: #4662c1;
        font-family: "HelveticaNeueCyrRoman",sans-serif;
.faq_content
    display: none
    padding: 0 40px 40px;
    p
        font-size: 18px;
        font-family: "HelveticaNeueCyrRoman",sans-serif;
        color: rgba(85,94,124,.8);
        line-height: 1.667;
.button_faq
    margin 25px auto 0