#footer
	padding: 25px 0
	background-color: #e7e8e9;
	text-align: center
	h5
		font-size: 24px;
		font-family: "HelveticaNeueCyrBold",sans-serif;
		color: #444242
		line-height: 1.042;
		margin 0
	p
	#politics
		font-size: 16px;
		font-family: "HelveticaNeueCyrLight",sans-serif;
		color: rgba(27,26,26,.6);
	#politics
		margin 15px 0 0
		color: #4745d7;
		&:hover
			text-decoration: underline
.soc_buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 20px 13px
		position relative
		z-index: 1
		.fa
			width: 35px;
			height: 35px;
			background-color: #1e1cfb;
			background-image: linear-gradient(174deg,#3432de 0,#4745d7 100%);
			color #fdfafa
			font-size 20px
			line-height 35px
			border-radius 50%
			text-align: center
			&:hover
				color: #fdfcfd;
				background-color: #252525;
				background-image: linear-gradient(174deg,transparent,transparent);
				background-image: linear-gradient(174deg,transparent,transparent);
.modal-dialog
	width: 750px;
.close
	background-color: transparent
	border: 2px solid #cdcdcd;
	border-radius: 50%;
	position: absolute;
	width: 36px;
	height: 36px;
	line-height: 34px;
	color: #cdcdcd;
	top: 30px;
	right: 30px;
	font-size: 30px;
	z-index: 99;
	&:hover
		background-color: #4745d7;
		color: #fff;
		border-color: #5452fe;
.feedback_form
	border-radius: 3px;
	background-color: #fff;
	height: auto;
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	h3
		font-family: "HelveticaNeueCyrBold",sans-serif;
		font-size: 32px;
		color: #262525;
		line-height: 1;
		margin-bottom: 38px;
		text-align: center;
	input
	textarea
		border: 1px solid rgba(85,94,124,.3);
		border-radius: 3px;
		display: block;
		margin-bottom: 19px;
		font-size: 16px;
		font-family: "HelveticaNeueCyrRoman",sans-serif;
		color: rgba(85,94,124,.7);
	input
		padding: 0 25px;
		height: 45px;
		line-height: 43px;
		width: 49%;
		float: left;
		&:nth-of-type(2)
			float: right;
	textarea
		padding: 15px 25px;
		height: 140px;
		clear: both;
		width: 100%;
	.button
		margin: 0 auto;
		padding: 0 41px;
		max-width: 190px;
		display: block;
		text-align: center;
.alert_message
	display: none;
	text-align: center;
	font-size: 16px;
	padding: 0 0 10px;
	font-family: 'HelveticaNeueCyrRoman',sans-serif;
	color: red;
// .success_message
// 	display: none;
// 	text-align: center;
// 	font-size: 16px;
// 	padding: 0 0 10px;
// 	font-family: 'HelveticaNeueCyrRoman',sans-serif;
// 	color: green;
.checking
	display: table;
	margin-bottom: 20px;
	width: 100%;
.check
	position: absolute;
	z-index: -1;
	opacity: 0;
	width: 0;
	height: 0;
	border: 0;
	left: -99999px;
.checking .check_label
	font-size: 13px;
	font-family: "HelveticaNeueCyrRoman",sans-serif;
	color: rgba(17,17,18,.8);
	line-height: 22px;
	cursor: pointer;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 0 30px;
	&:before
		content: '';
		border-radius: 2px;
		background-color: #c4c4c4;
		position: absolute;
		left: 0;
		top: 0;
		width: 22px;
		height: 22px;
	&:after
		content: '';
		position: absolute;
		top: 3px;
		left: -15px;
		width: 18px;
		height: 18px;
		left: 3px;
		top: 3px;
		width: 16px;
		height: 16px;
		background-color: #4745d7;
		opacity: 0;
	a
		color: #4745d7;
.check:checked + label:after
	opacity: 1;
.check:checked + label:before
	border: 1px solid #c4c4c4;
	background-color: #fff;
#pcModalPolitics
	.modal-title
		font-size: 24px;
		font-family: 'HelveticaNeueCyrBold',sans-serif;
		text-align: center;
		width 100%
		max-width 80%
		small
			display block
	.modal-body
		p
			font-size: 16px;
			font-family: "HelveticaNeueCyrRoman",sans-serif;
			margin-bottom: 20px;
			line-height: 1.2;