#header
	padding: 22px 0
	overflow hidden
	z-index: 9
	position relative
#logo
	float: left
.contacts
	float: right
	text-align: right
	line-height  12px
	a
		font-size: 10px
		.fa
			color: #5452fe
			font-size: 16px
			margin: 0 14px 0 38px
			line-height: 12px
		.fa+span
			line-height: 12px
			font-size: 16px;
			font-family: "HelveticaNeueCyrRoman", sans-serif;
			color: #1d242b
			text-align: right;
			&:hover
				text-decoration underline
.tel:first-child
	.fa-phone
		margin-left: 0