@media screen and (min-width 2295px)
    .continer
        width: 1400px;
    .contacts a .fa
    .contacts a .fa+span
    .alert_message
        font-size: 20px
    .main_subtitle
        font-size: 36px
    .button
    .all_requests
        font-size: 18px
        max-width: 350px;
    #requests
        padding 90px 0
    .requests_title+p
        font-size: 24px
        max-width: 715px;
    #footer #politics, #footer p
        font-size: 18px
    .request_example
        height 265px
    .request_example p
    .feedback_form input, .feedback_form textarea
    #pcModalPolitics .modal-body p
        font-size: 22px
    .checking .check_label
        font-size: 16px
@media screen and (max-width 1199px)
    .request_example
        padding 40px
    .contacts a .fa
        margin  0 8px 0 14px
@media screen and (max-width 991px)
    #header
        padding 15px 0
    #logo
        display block
        float: none
        margin  0 auto 10px
    .contacts
        float: none
        text-align: center
    .main_subtitle_reach
        margin-top: 40px
    .request_example
        height 220px
@media screen and (max-width 767px)
    .request_example
        display block
        height auto
        padding 30px
    #requests
        padding 40px 0 20px
    .contacts a
        display: inline-block
        margin-bottom: 5px
    #header
        padding-bottom: 10px
    .modal-dialog
        width 90%
        margin 10px auto
    .feedback_form h3
        margin-top: 30px
    #main_thanks
        padding 25px 0
@media screen and (max-width 480px)
    .feedback_form
        padding 10px
    .feedback_form input
        padding 0 10px
    .feedback_form textarea
        padding 10px
@media screen and (max-width 426px)
    .contacts a .fa + span
    .contacts a .fa
        font-size: 14px
    .main_title
        font-size: 32px
        margin-bottom: 25px
    #footer h5
        font-size: 20px
    #footer #politics, #footer p
        font-size: 14px
    .soc_buttons a
        margin: 15px 8px
    .feedback_form input
    .feedback_form input:nth-of-type(2)
        float: none
        width 100%
    .feedback_form h3
        font-size: 28px
        margin 40px 0 20px
    #pcModalPolitics .modal-title
        text-align: left
    .thanks_main_title
        margin-top: 20px
@media screen and (max-width 360px)
    .main_title
        font-size: 28px
        margin-bottom: 15px
    .main_subtitle
        font-size: 19px
    .main_subtitle
        margin-top: 20px
    .button
        padding 0 15px
        font-size: 12px
    #requests
        padding: 30px 0 10px
    .requests_title
        font-size: 28px
        margin-bottom: 20px
    .request_example
        padding: 20px
        margin-bottom: 30px
    .feedback_form
        padding 0
    .close
        top 20px
        right 20px
    .soc_buttons a
        margin 8px