#specialists
	padding 0 0 20px
	background-color: #fefeff
.our_specialist
	padding 10px
	max-width: 90%;
	margin: 0 auto 60px;
	text-align: center;
	min-height: 397px
	display block
	img
		border-radius: 50%;
		width: 161px;
		height: 161px;
		margin: 0 auto;
		display: block;
	h4
		font-size: 18px;
		font-family: "HelveticaNeueCyrBold",sans-serif;
		color: #252525;
		font-weight: bold;
		line-height: 1.2;
		margin: 25px 0 3px;
	p
		font-size: 16px;
		font-family: "HelveticaNeueCyrRoman",sans-serif;
		color: #555e7c;
		line-height: 1.438;
#our_specialists_more
	display: none
.our_specialist_linked
	transition: all .1s ease
	position relative
	&:focus
			text-decoration: none
	&:hover
		border-radius: 5px
		box-shadow: 0 0 5px 0 rgba(#000, .15)
		text-decoration: none
.sp_links
	overflow hidden
	margin-top: 5px
	position: absolute
	left 0
	right 0
	bottom: 10px
	width 100%
	max-width 90%
	margin 0 auto
.sp_link
.to_main
	color #5553fe
	text-decoration: none
	font-size: 16px
	&:focus
		text-decoration: none
		color #5553fe
	&:hover
		text-decoration: underline
		color #5553fe
.sp_link_more
	float left
.sp_link_chat
	float: right
.sp_link_single
	float: none